.classroom-main{
    display: flex;
    text-align: center;
    height: 550px;
}
.classroom-left{
    flex: 0.30;
    align-items: center;
}
.classroom-right{
    flex: 0.70;
    align-items: center;

}